# Extensions
*.elc
*.dylib

# Files
bookmarks
configuration.el
custom.el
network-security.data
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
projects
recentf
srecode-map.el
tramp
transient/history.el

# Directories
auto-save-list/
elpa/
eshell/
hackernews/
multisession/
org-persist/
semanticdb/
server/
tutorial/
url/
