auto-save-list/
configuration.el
elpa/
eshell/history
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
server/
recentf
srecode-map.el
*.elc
bookmarks
eshell/
hackernews/
semanticdb/
tutorial/
network-security.data
url/
custom.el
